*{box-sizing: border-box;}

header {
     width: 100%;
     height: 30%;
     border: 1px solid rgb(112, 20, 135);
     background-color: #ae05bd;
     text-align: center;
     border-radius: 10px;
    margin-bottom: 10px;
}
nav {
     width: 100%;
     height: 60%;
     border: 1px solid rgb(226, 20, 249);
     background-color: #79075c6a;
     text-align: center;
     border-radius: 10px;
     margin-bottom: 10px;
}
